flows.json
[{"id":"e3515420.761088","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc73a188.7af26","type":"ibmiot in","z":"e3515420.761088","authentication":"apiKey","apiKey":"b1b81a23.917498","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":120,"wires":[["93b82291.ea182","828bf4c8.973118","3ccdbbdd.158214","efc89078.48599","69f40e54.2454a","2b4549e7.507d46","150d9a42.4e4736"]]},{"id":"93b82291.ea182","type":"debug","z":"e3515420.761088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"828bf4c8.973118","type":"function","z":"e3515420.761088","name":"hotair","func":"global.set('t',msg.payload.d.hotair)\nreturn{payload:msg.payload.d.hotair}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["93b82291.ea182","364ee78d.53b908","90f8daa9.79ba58"]]},{"id":"3ccdbbdd.158214","type":"function","z":"e3515420.761088","name":"humidity","func":"global.set('h',msg.payload.d.humidity)\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["93b82291.ea182","630e15e3.ccb75c","90f8daa9.79ba58"]]},{"id":"364ee78d.53b908","type":"ui_gauge","z":"e3515420.761088","name":"temperature","group":"92e12c6b.fe572","order":0,"width":0,"height":0,"gtype":"gage","title":"hotair","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":160,"wires":[]},{"id":"efc89078.48599","type":"function","z":"e3515420.761088","name":"cloudwaves","func":"global.set('s',msg.payload.d.cloudwaves)\nreturn{payload:msg.payload.d.cloudwaves}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":280,"wires":[["93b82291.ea182","ad0fa4e4.6ad238","90f8daa9.79ba58"]]},{"id":"90f8daa9.79ba58","type":"rbe","z":"e3515420.761088","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":110,"y":380,"wires":[["6f2c9cac.d46f24"]]},{"id":"6f2c9cac.d46f24","type":"switch","z":"e3515420.761088","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":440,"wires":[["40f194fe.d7559c"]]},{"id":"40f194fe.d7559c","type":"http request","z":"e3515420.761088","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=fNC1yziEe7XS3jgbWHsBMUu8hxrkowGOp6vKtcPRldTa42IZ95D4S5sVuxpcFPq9LX2yRMg3rlKWT7YH&message=takeprecaution&language=english&route=q&numbers=9951015768","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":440,"wires":[["7bf7d816.7ea198"]]},{"id":"7bf7d816.7ea198","type":"debug","z":"e3515420.761088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":460,"wires":[]},{"id":"9528486a.5c6d38","type":"http in","z":"e3515420.761088","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[["9d937566.ec9728"]]},{"id":"9c4a2634.4bb4b8","type":"http response","z":"e3515420.761088","name":"","statusCode":"","headers":{},"x":610,"y":560,"wires":[]},{"id":"9d937566.ec9728","type":"function","z":"e3515420.761088","name":"http response","func":"msg.payload={\"t\":global.get('t'),\"h\":global.get('h'),\"c\":global.get('c'),\"d\":global.get('d'),\"u\":global.get('u'),\"s\":global.get('s')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":560,"wires":[["9c4a2634.4bb4b8"]]},{"id":"ec175ef9.3064d","type":"http in","z":"e3515420.761088","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":110,"y":640,"wires":[["1daec91f.a5e667"]]},{"id":"1cc02ae8.606665","type":"http response","z":"e3515420.761088","name":"","statusCode":"","headers":{},"x":610,"y":620,"wires":[]},{"id":"1daec91f.a5e667","type":"function","z":"e3515420.761088","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":700,"wires":[["1cc02ae8.606665","8913763.62c7888","6a1dad09.aac384"]]},{"id":"8913763.62c7888","type":"debug","z":"e3515420.761088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":720,"wires":[]},{"id":"6a1dad09.aac384","type":"ibmiot out","z":"e3515420.761088","authentication":"apiKey","apiKey":"b1b81a23.917498","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":660,"wires":[]},{"id":"1ec56320.5dc7dd","type":"cloudant in","z":"e3515420.761088","name":"","cloudant":"","database":"sensordata","service":"node-red-rtajl-2021--cloudant-1620812491588-74097","search":"_all_","design":"","index":"","x":650,"y":1380,"wires":[["fedb9d52.28ca9"]]},{"id":"bc203d56.f6932","type":"inject","z":"e3515420.761088","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1440,"wires":[["1ec56320.5dc7dd"]]},{"id":"fedb9d52.28ca9","type":"debug","z":"e3515420.761088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1400,"wires":[]},{"id":"d060c541.9fa008","type":"http request","z":"e3515420.761088","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://aa4552b4-c597-45e5-b91f-585aea2ab2a6-bluemix.cloudant.com/dashboard.html#database/newdatabase/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":310,"y":1720,"wires":[["2db0403e.76c17"]]},{"id":"2db0403e.76c17","type":"debug","z":"e3515420.761088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1780,"wires":[]},{"id":"6d367259.4e802c","type":"inject","z":"e3515420.761088","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1660,"wires":[["d060c541.9fa008"]]},{"id":"2b4549e7.507d46","type":"function","z":"e3515420.761088","name":"smoke","func":"global.set('u',msg.payload.d.smoke)\nreturn{payload:msg.payload.d.smoke}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":60,"wires":[["5c6f7bf4.0237c4","90f8daa9.79ba58"]]},{"id":"69f40e54.2454a","type":"function","z":"e3515420.761088","name":"chemicals","func":"global.set('c',msg.payload.d.chemicals)\nreturn{payload:msg.payload.d.chemicals}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":360,"wires":[["7e29e02d.45b7","90f8daa9.79ba58"]]},{"id":"5c6f7bf4.0237c4","type":"ui_gauge","z":"e3515420.761088","name":"","group":"92e12c6b.fe572","order":9,"width":0,"height":0,"gtype":"gage","title":"smoke","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":40,"wires":[]},{"id":"7e29e02d.45b7","type":"ui_gauge","z":"e3515420.761088","name":"","group":"92e12c6b.fe572","order":10,"width":0,"height":0,"gtype":"gage","title":"chemicals","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":320,"wires":[]},{"id":"5c5db3e8.1b761c","type":"ui_gauge","z":"e3515420.761088","name":"","group":"92e12c6b.fe572","order":11,"width":0,"height":0,"gtype":"gage","title":"dust","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":380,"wires":[]},{"id":"630e15e3.ccb75c","type":"ui_gauge","z":"e3515420.761088","name":"","group":"92e12c6b.fe572","order":11,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":220,"wires":[]},{"id":"ad0fa4e4.6ad238","type":"ui_gauge","z":"e3515420.761088","name":"","group":"92e12c6b.fe572","order":10,"width":0,"height":0,"gtype":"gage","title":"cloudwaves","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":260,"wires":[]},{"id":"150d9a42.4e4736","type":"function","z":"e3515420.761088","name":"dust","func":"global.set('d',msg.payload.d.dust)\nreturn{payload:msg.payload.d.dust}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":320,"wires":[["5c5db3e8.1b761c","90f8daa9.79ba58"]]},{"id":"b1b81a23.917498","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"8fy5zu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"92e12c6b.fe572","type":"ui_group","name":"Default","tab":"6856837b.a49b4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6856837b.a49b4c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]